language: go

go:
    - "1.10.1"

before_install:
    - go get -u github.com/kardianos/govendor

install:
    - govendor sync

script:
    - go test -race -coverprofile=coverage.txt -covermode=atomic ./src

after_success:
    - bash <(curl -s https://codecov.io/bash)
